.rbc-event {
  background-color: #ff7875;
  border-radius: 8px;
  padding: 2px 4px;
  font-size: 0.85rem;
}

/* .rbc-events-container {
    background-color: #ff7875;
    margin: 0;
} */












/*------------------------- toobar -----------------------------------*/

.bottonday button{
  /* background-color: #ff7875; */
}

.dropdown_month_year {

}