.rbc-event {
  background-color: #ff7875;
  border-radius: 8px;
  padding: 2px 4px;
  font-size: 0.85rem;
}

/* .rbc-events-container {
    background-color: #ff7875;
    margin: 0;
} */


/*------------------------- toobar -----------------------------------*/

.bottonday button{
  background-color: #ffffff;
  border: solid 2px #8E55D9;
  border-radius: 15px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_month_year select{
  background-color: #ffffff;
  border: solid 2px #8E55D9;
  border-radius: 15px;
}

.dropdown_viwe select{
  background-color: #ffffff;
  border: solid 2px #8E55D9;
  border-radius: 15px;

}