
/* table */
.table-container {
    margin: 0px;
    width: 100%;
    max-width: 1200px;
    height: 470px;
    border: solid 1px #ccc;
    overflow-y: auto;
    background: #fff;
}

.item-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.item-table th,
.item-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    height: 57px;
}


.item-table thead th {
  position: sticky;
  top: 0;
  background-color: rgb(233, 233, 233);
  z-index: 10;            
}
