.rbc-header {
    height: 30px !important;
    min-height: 30px !important;
    font-size: 14px;
    vertical-align: middle !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: normal !important;
}

.rbc-day-bg {
     background-color: #ffffff;
}

.rbc-day-bg:hover{
    background-color: #dedede;
}



/* even color */ */
.rbc-event {
    background-color: #ff7875;
    border-radius: 8px;
    padding: 2px 4px;
    font-size: 0.85rem;
} 

.rbc-event:hover {
    background-color: #e8413e;

}